@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");

.me {
  margin-top: 5em;
  text-align: center;
  font-family: "Helvetica";
  img {
    width: 260px;
    border: solid 15px rgb(33, 65, 95);
    border-radius: 0.3em;
    opacity: 0.8;
  }

  h2 {
    color: rgb(33, 65, 95);
    font-family: "Arvo", serif;
    font-weight: 700;
    font-size: 2em;
    margin-top: 0.6em;
  }

  h4 {
    color: rgb(210, 211, 203);
  }

  p {
    font-size: 1em;
  }
}
