@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@import "../Components/Me/Me";
@import "../Components/Education/Education";
@import "../Components/Experience/Experience";
@import "../Components/More/More";

body {
  margin: 0px;
  padding: 0px;
  background: #507da1;
}

.mainContent {
  display: flex;
  justify-content: center;
  margin-left: 4em;
}

.custom-btn {
  background-color: rgba(6, 7, 65, 0.089);
  border: 1px solid rgb(33, 65, 95);
  border-radius: 0.5em;
  color: rgb(33, 65, 95);
  margin-bottom: 1.2em;
  margin-left: 2.3em;
  margin-top: 1.5em;
  margin-right: 1.2em;
  width: 8.5em;
  height: 2.2em;
}
