@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");
.me {
  margin-top: 5em;
  text-align: center;
  font-family: "Helvetica";
}

.me img {
  width: 260px;
  border: solid 15px #21415f;
  border-radius: 0.3em;
  opacity: 0.8;
}

.me h2 {
  color: #21415f;
  font-family: "Arvo", serif;
  font-weight: 700;
  font-size: 2em;
  margin-top: 0.6em;
}

.me h4 {
  color: #d2d3cb;
}

.me p {
  font-size: 1em;
}

.education-card {
  background-color: rgba(245, 245, 245, 0.178);
  border-radius: 0.3em;
  font-family: "Helvetica";
  margin-top: 4.8em;
  padding-left: 1em;
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  width: 20em;
}

.education-card h4 {
  color: #d2d3cb;
  margin-bottom: 0.5em;
  width: 15em;
}

.education-card h5 {
  color: #21415f;
  margin-top: 0;
  margin-bottom: 0.1em;
  font-size: 12px;
}

.education-card p {
  color: #21415f;
  margin-bottom: 2.4em;
  margin-top: 0;
  font-size: 12px;
}

.experience-card {
  background-color: rgba(245, 245, 245, 0.178);
  border-radius: 0.3em;
  font-family: "Helvetica";
  margin-top: 4.8em;
  padding-left: 1em;
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  width: 20em;
}

.experience-card h4 {
  color: #d2d3cb;
  margin-bottom: 0.5em;
  width: 15em;
}

.experience-card h5 {
  color: #21415f;
  margin-top: 0;
  margin-bottom: 0.1em;
  font-size: 12px;
}

.experience-card p {
  color: #21415f;
  margin-bottom: 2.4em;
  margin-top: 0;
  font-size: 12px;
}

.languages-card {
  background-color: rgba(245, 245, 245, 0.178);
  border-radius: 0.3em;
  font-family: "Helvetica";
  margin-top: 2em;
  padding-left: 1em;
  padding-top: 0.01em;
  padding-bottom: 1em;
  width: 20em;
}

.languages-card h4 {
  color: #d2d3cb;
  margin-bottom: 0.5em;
  width: 15em;
}

.languages-card h5 {
  color: #21415f;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 12px;
}

.languages-card p {
  color: #21415f;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-size: 12px;
}

.habilities-card {
  background-color: rgba(245, 245, 245, 0.178);
  border-radius: 0.3em;
  font-family: "Helvetica";
  margin-top: 2em;
  padding-left: 1em;
  padding-top: 0.01em;
  padding-bottom: 1em;
  width: 20em;
}

.habilities-card h4 {
  color: #d2d3cb;
  margin-bottom: 0.5em;
  width: 15em;
}

.habilities-card p {
  color: #21415f;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-size: 12px;
}

.volunteer-card {
  background-color: rgba(245, 245, 245, 0.178);
  border-radius: 0.3em;
  font-family: "Helvetica";
  margin-bottom: 2em;
  margin-top: 2em;
  padding-left: 1em;
  padding-top: 0.01em;
  padding-bottom: 1em;
  width: 20em;
}

.volunteer-card h4 {
  color: #d2d3cb;
  margin-bottom: 0.5em;
  width: 15em;
}

.volunteer-card h5 {
  color: #d2d3cb;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 12px;
}

.volunteer-card h6 {
  color: #21415f;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 10px;
}

.volunteer-card p {
  color: #21415f;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-size: 12px;
  width: 250px;
}

body {
  margin: 0px;
  padding: 0px;
  background: #507da1;
}

.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4em;
}

.custom-btn {
  background-color: rgba(6, 7, 65, 0.089);
  border: 1px solid #21415f;
  border-radius: 0.5em;
  color: #21415f;
  margin-bottom: 1.2em;
  margin-left: 2.3em;
  margin-top: 1.5em;
  margin-right: 1.2em;
  width: 8.5em;
  height: 2.2em;
}
/*# sourceMappingURL=Styles.css.map */