.experience-card {
  background-color: rgba(245, 245, 245, 0.178);
  border-radius: 0.3em;
  font-family: "Helvetica";
  margin-top: 4.8em;
  padding-left: 1em;
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  width: 20em;

  h4 {
    color: rgb(210, 211, 203);
    margin-bottom: 0.5em;
    width: 15em;
  }

  h5 {
    color: rgb(33, 65, 95);
    margin-top: 0;
    margin-bottom: 0.1em;
    font-size: 12px;
  }

  p {
    color: rgb(33, 65, 95);
    margin-bottom: 2.4em;
    margin-top: 0;
    font-size: 12px;
  }
}
